grpc:
  host: "0.0.0.0"
  port: "9000"

overseer:
  check_for_shard_failures_delay: "1s"
  observer_delay: "1s"
  observer_metrics_timeout: "5s"
  observer_error_threshold: 3
  virtual_nodes_per_shard: 150

provisioner:
  type: process
  process:
    binary_path: "../skylr-shard/bin/skylr-shard"
    config_path: "../skylr-shard/config/config.yaml"
    overseer_address: "127.0.0.1:9000"
    grpc_host: "localhost"
    grpc_port_min: 5000
    grpc_port_max: 5999
    max_shards: 5
    registration_timeout: "5s"
    post_registration_delay: "3s"
